<html>

<body bgcolor=#7FFFD4></body>


    <center>

        <!-- <h3>  Fish Species Prediction   </h3> -->
        
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    {%if data == 0%}
    <h1><i>Fish Species is Perch</i></h1>

    {%elif data == 1%}
    <h1><i>Fish Species is Bream</i></h1>

    {%elif data == 2%}
    <h1><i>Fish Species is Roach</i></h1>

    {%elif data == 3%}
    <h1><i>Fish Species is Whitefish</i></h1>

    {%elif data == 4%}
    <h1><i>Fish Species is Parkki</i></h1>

    {%elif data == 5%}
    <h1><i>Fish Species is Smelt</i></h1>

    {%else%}
    <h1><i>Fish Species is Pike</i></h1>
    
    {%endif%}
    <br><br>
    <br><br>
    <br><br>
    <br><br>

        
    <a href='/'>go back to new_home page</a>

    </center>

</body>

</html>






